<div class="container-fluid card">
  <div class="card-header" , data-id={{id}}>{{name}}
    -
    {{set.name}}</div>
  <div class="card-body">
    <img class="cards" src={{images.small}} />
  </div>
  <div class="card-footer"></div>
</div>